.mainList{
	width: 100%;

}

.searchBar{
	height: 50px;
	background-color: black;
	background: black;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
.buttonBack{
	background: black !important;
	width: 50px;
	height: 50px;
	// background-image: url(../../assets/back.png);
	// background-repeat: no-repeat;
	// background-position: center;
}

.mainList .contDet .cover{
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.mainList .contDet .cover img{
	width: 100%;
}
.mainList .contDet{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    overflow-y: scroll;
	background-image: url(../../assets/b.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.contDet .textContent h1{
	font-size: 30px;
	margin: 15px;
	font-weight: bold;
}
.contDet .textContent .firstHr{
	width: 80%;
}
.contDet .textContent .secHr{
	width: 60%;
}
.contDet ul {
	margin: 5px;
	padding-left: 0px;
}
.contDet ul li{
	font-size: 16px;
}
.contDetIf{
	overflow-y: scroll !important;
	height: 100%;
}
.contDet .textContent .desc{
	background-color: rgba(150,150,150,.6);
	width: 70%;
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 20px;

	margin-left: 0;
	padding: 20px;
	font-style: italic;

}

.contDet .textContent .text{
	background-color: rgba(0,0,0,.8);
	width: 90%;
	margin: 4px auto;
	font-size: 18px;
	padding: 10px;

}
.contDet .textContent .text p{
	margin: 3px;

} 
hr{
	height: 1px;
	background-color: white;
}

// @font-face{
// 	src:url(fonts/JournalCTTRegular.ttf);
// 	font-family: JournalCTTRegular;
// }

// @font-face{
// 	src:url(fonts/JournalCTTItalic.ttf);
// 	font-family: JournalCTTItalic;
// }